@{
    ViewBag.Title = @Resource.TitleText;
    /*The ProfileOverviewView is responsible for rendering the partial ListProfileView and for providing controls to change
     the sorting or search criteria of the profiles shown in the user list. If these settings are changed,
     the ListProfileView is reloaded.*/
}
@model int
@{  
    int accountNumber = (new sGridServer.Code.Security.MemberManager()).Accounts.Count();  
    int pagesNumber = Model;
}
@using Resource = sGridServer.Resources.Profile.ProfileOverview

<script type="text/javascript">
    //set the selected page to first page
    var selected = 1;
    /*Submit a form with value of the search box, page, choosen user type and sorting option as parameter,
    reload the list view by success.*/
    bindSubmit({
        buttonId: "#submit_button",
        actionUrl: '@Url.Action("ListProfile")',
        data: function () {
                //set selected option to the user type selected in the drop down list.
                var selectedOption = $("#search_option").val();
                if (selectedOption == 1) {
                    selectedOption = "Users";
                } else if (selectedOption == 2) {
                    selectedOption = "Administrators";
                } else if (selectedOption == 3) {
                    selectedOption = "Sponsors";
                } else if (selectedOption == 4) {
                    selectedOption = "Coin Partners";
                } else if (selectedOption == 0) {
                    selectedOption = "All";
                }

                return {
                            page: selected,
                            searchName: $("#search_box").val(),
                            searchOption: selectedOption,
                            sortOption: $("#sort_option").val()
                };
        },
        success: function (data) {
            $("#list_view").html(data);
        }
    });
    $().ready(function () {
        //submit a form if a user presses "Enter"        
        $('#search_box').keypress(function(e) {
            if (e.keyCode == 13) {
            $("#submit_button").click();
            }
        });
        //submit a form if user changes searching option.
        $('#search_option').change(function() {
            $("#submit_button").click();
        });
        //submit a form if user changes sorting option.
        $('#sort_option').change(function() {
            $("#submit_button").click();
        });
        //set jPaginator settings for showing the profile list with paging.
        $("#paginator").jPaginator({
            nbPages: '@pagesNumber',
            minSlidesForSlider: 20,
            overBtnLeft: '#switch_o_left',
            overBtnRight: '#switch_o_right',
            maxBtnLeft: '#switch_m_left',
            maxBtnRight: '#switch_m_right',
            onPageClicked: function (a, num) {
                selected = num;
                $("#submit_button").click();
            }
        });
        
    });
</script>

<div style = "width : 610px; height: 420px; float: left;">    
    <div style = "height: 400px; width: 320px; margin-left: -20px; float: left; margin-top: 10px;">
        <b style="color: #066375; font-size: 12px;">@Resource.UsersNumber</b>
        <b style="color: #5c6b72">@accountNumber</b>
        <hr style="display: block; height: 1px;
        border: 0; border-top: 2px solid #d8e7ee;
        margin: 0 0; padding: 0;"/>
        <div  id = "list_view">     
            @Html.Action("ListProfile")
        </div>        
    </div>    
    <div id = "controls" style = "width : 300px; margin-top: 10px; height: 420px; margin-left: 320px; font-size: 12px;">
        <b style="color: #5c6b72">@Resource.Search</b>
        <br />
        <input type="text" id = "search_box" class="sg_styled_input" style="width: 186px;"/>
        <br /><br />
        <b style="color: #5c6b72">@Resource.UserType</b>
        <br />
        <select id="search_option" class="sg_styled_input">
            <option value = "0" selected = "selected" style="color: #5c6b72">@Resource.All</option>
            <option value = "1" style="color: #5c6b72">@Resource.Users</option>
            <option value = "2" style="color: #5c6b72">@Resource.Administrators</option>
            <option value = "3" style="color: #5c6b72">@Resource.Sponsors</option>
            <option value = "4" style="color: #5c6b72">@Resource.CoinPartners</option>
        </select>
        <br /><br />
        <b style="color: #5c6b72">@Resource.Sorting</b>
        <br />
        <select id="sort_option" class="sg_styled_input">
            <option selected = "selected" style="color: #5c6b72">@Resource.SortingChronologically</option>
            <option style="color: #5c6b72">@Resource.SortingAlphabetically</option>
        </select>
        <br />
        <br />
        <input type = "submit" id = "submit_button" class="sg_styled_input" style="color: #5c6b72" /> 
    </div>
</div>
<div style = "width: 320px; float:right;">
    <div style = "float: right; margin-top: 10px;" id = "top_ranked_view">
        @Html.Action("GetTopRanked", "Statistics")
    </div>
    <div style = "float: right; margin-top: 20px;"id = "top_rated_view">
        @Html.Action("GetTopRatedRewards", "Statistics")
    </div>
</div>
<div id="paginator" style = "width: 610px; height: 40px; float:left;">
    <!-- left control buttons-->
    <span class="switch_m_left ui-icon ui-icon-arrowstop-1-w" id = "switch_m_left"></span>      
    <span id="switch_o_left" class="switch_o_left ui-icon ui-icon-carat-1-w"></span>

    <div class='paginator_p_wrap'>
        <div class='paginator_p_bloc'>
            <a class='paginator_p'></a> 
        </div>
    </div>

    <!-- right control buttons-->
    <span id="switch_o_right" class="switch_o_right ui-icon ui-icon-carat-1-e"></span>
    <span id="switch_m_right" class="switch_m_right ui-icon ui-icon-arrowstop-1-e"></span>

    <!-- slider -->
    <div class='paginator_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all' style = "">
        <a class='ui-slider-handle ui-state-default ui-corner-all' href='#'></a>
    </div>
</div>



