<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/sgrid.ui.css")
    @Styles.Render("~/Content/sgrid.layout.css")
    @Styles.Render("~/Content/sgrid.forms.css")
    @Styles.Render("~/Content/css/uniform.default.css")

</head>
<body>
    @Scripts.Render("~/Scripts/jquery-1.9.0.js")
    @Scripts.Render("~/Scripts/jquery-migrate-1.1.0.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/Scripts/jquery.uniform.js")

    @RenderSection("scripts", required: false)
    
    @Html.Action("HelperScripts", "MasterPage")
   
    @RenderBody()
  
</body>
</html>
