@model sGridServer.Models.ResetPasswordData
@using Resource = sGridServer.Resources.EMailIdProvider.ResetPassword;

@{
    ViewBag.Title = Resource.Title;

    /* The EMailIdProvider ResetPasswort view handles password resets for users using username and passwort authentication. */
    
    if (Session["ClientLayout"] != null)
    {
        Layout = "~/Views/Shared/_Client.cshtml";
    }
}

@using (Html.BeginForm("ResetPassword", "EMailIdProvider", FormMethod.Post))
{

    <fieldset class="sg_editor_form"> 
        <legend>@Resource.Title</legend>

        <p>
            @Resource.Description
        </p>
        <div class="sg_editor_row">
            @Html.LabelFor(model => model.Password, Resource.Password)
            @Html.PasswordFor(model => model.Password) 
            @Html.ValidationMessageFor(model => model.Password)
        </div> 

        
        <div class="sg_editor_row">
            @Html.LabelFor(model => model.PasswordConfirmation, Resource.ConfirmPassword)
            @Html.PasswordFor(model => model.PasswordConfirmation) 
            @Html.ValidationMessageFor(model => model.PasswordConfirmation)
            <span class="field-validation-error">@ViewBag.PasswordMessage</span>
        </div> 
        
        <div class="sg_submit_row">
            <input type="submit" value="@Resource.SubmitText" class="SendButton"/>
        
            @Html.HiddenFor(model => model.UserId)
        </div>
    </fieldset>
}
