@model sGridServer.Models.PasswordRecoveryMailData
@using Resource = sGridServer.Resources.EMailIdProvider.SendPasswordResetMail;

@{
    ViewBag.Title = Resource.Title;
    
    /* The SendPasswordResetMail view is responsible gathering information from the user, so a password reset mail can be sent. */
    
    if (Session["ClientLayout"] != null)
    {
        Layout = "~/Views/Shared/_Client.cshtml";
    }
}

@using (Html.BeginForm("SendPasswordResetMail", "EMailIdProvider", FormMethod.Post))
{
    <fieldset class="sg_editor_form"> 
        <legend>@Resource.Title</legend>

        <p>
            @Resource.RecoveryDescription
        </p>
        <div class="sg_editor_row">
            @Html.LabelFor(model => model.Address, Resource.Address)
            @Html.TextBoxFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
            <span class="field-validation-error">@ViewBag.EMailMessage</span>
        </div> 
        
        <div class="sg_editor_row">
            @Html.LabelFor(model => model.Captcha, Resource.CaptchaText)
            @Html.EditorFor(model => model.Captcha)
            <span class="field-validation-error">@ViewBag.CaptchaMessage</span>
        </div> 
        
        <div class="sg_submit_row">
            <input type="submit" value="@Resource.SubmitText" class="SendButton"/>
        </div>
    </fieldset>
}