@{
    ViewBag.Title = "Impressum";
}
@using Resource = sGridServer.Resources.Help.Impressum
<h4>@Resource.Domain sgrid.azurewebsites.net:</h4>

@Resource.KIT
<br />
@Resource.IPD
<br />
@Resource.Programmsystems
<br />
@Resource.Professor
<br />
@Resource.Post
<br />
76128 Karlsruhe
<br />
@Resource.Phone +49 721 608-43934
<br />
@Resource.Fax +49 721 608-47343

<hr />
<h4>@Resource.Source</h4>
<h5>@Resource.Images</h5>
@Resource.Page Frontpage<br />
@Resource.Description Réunion 2D graphique<br />
@Resource.Author lumaxart<br />
<br />
@Resource.Page Frontpage <br />
@Resource.Description Dots world map <br />
@Resource.Author <a href="http://snowfleikun.deviantart.com" >sNowFleikuN</a>

